.root {
  width: 600px;
  margin: 0 auto;
}

.img {
  background: gray;
  margin-bottom: 20px;
}

.text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  height: 48px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--blue);
  color: white;
  border-radius: 4px;
  margin: 14px auto 0;
  font-size: 16px;
  font-weight: bold;
}

.link:hover {
  background-color: var(--blue-hovered);
}
