.root {
  height: 48px;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 6px 0 white;
}
