.root {
  --image-height: 150px;
  --image-width: 150px;
  --title-height: 20px;

  width: var(--card-image-width);
  height: calc(var(var(--card-image-height)) + var(var(--card-title-height)));
}

.imgContainer {
  cursor: pointer;
  position: relative;
  display: flex;
}

.increaseBtn {
  display: none;
}

.imgContainer:hover .increaseBtn {
  background-color: #ffffff85;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  top: 0;
}

.img {
  height: var(--image-height);
  width: var(--image-width);
  background: gray;
  border-radius: 4px;
}

.title {
  height: var(--title-height);
  font-size: 14px;
  line-height: var(--title-height);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 4px;
}

.title:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #0000009e;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  height: 600px;
  width: 600px;
  background-color: gray;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  opacity: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove:hover {
  opacity: 1;
}
